<div class="expandable-reasons expandable">
    <p class="clickable collapsible">1. 100% practice-based (no jargon or philosophy) <span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          Add the text here. I will show you how. Or send that text to me, and I will add it there. Unfortunately squarespace does not offer any ready-to-use component for that.
        </p>
  
        <p class="clickable collapsible">2. Delivered by a top Tantra teacher <span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 2
        </p>
    
    <p class="clickable collapsible">3. Weaving Eastern mysticism into western scientific language<span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 3 and is long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet ornare tortor. Nam aliquet pretium nunc, non tincidunt turpis malesuada vel. Aenean eget faucibus dui. Sed at orci sagittis, lacinia lorem ut, feugiat magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In turpis lacus, egestas sed scelerisque nec, blandit quis elit. Integer accumsan viverra neque ut ultricies. Quisque fringilla ultricies tristique. Proin nec vehicula justo, ac sodales tellus. Vivamus vitae sodales nulla. Praesent vel finibus enim, vitae eleifend eros. Pellentesque vulputate et eros et aliquet. Phasellus non elit ac ex sagittis euismod eu sed sem.
  
  Cras laoreet rutrum turpis sit amet consequat. Vestibulum turpis turpis, rutrum a augue a, molestie pulvinar tellus. Aenean metus magna, ultricies vel facilisis in, dictum ut lectus. Nullam at fermentum ante. Maecenas ac congue odio, sed rutrum mauris. Donec eu faucibus metus, nec hendrerit turpis. Praesent venenatis sodales tortor in vestibulum. Praesent viverra vulputate imperdiet.
        </p>
    
    <p class="clickable collapsible">4. Created with 20 years of experience, experiments, and research<span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 4
        </p>
    
    <p class="clickable collapsible">5. Perfect meditation ambience with high-definition (HD) video and beautiful nature<span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 5
        </p>
    
    <p class="clickable collapsible">6. Professional quality sound so you hear everything without distortion<span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 6
        </p>
    
    <p class="clickable collapsible">7. Live guidance through webinar and private coaching<span class="hint"><span class="arrow down">+</span></span></p>
        <p class="hidden content">
          This is hidden by default 7
        </p>
  </div>      
  
  <script type="text/javascript">
    // Give DOM time to render, so that we can hook on existing elements
    setTimeout(function() {
      makeCollapsible('expandable-reasons', 'collapsible');
    }, 150);  
  </script>