<script>
    /**
    * Squarespace adds its own event listener for buttons etc
    * It is not possible to add custom button and expect it to work out of the box.
    * It needs to trigger click on the original Squarespace button.
    * Unfortunately I do not have access to Squarespace code ...
    */
  function addListenerForBuyButtons() {
      const container = document.getElementById('vbt-online-course-products');
        const originalButtons = container.getElementsByClassName('sqs-add-to-cart-button');
        const pricingPackages = container.getElementsByClassName('pricing-package');
    
        originalButtons.forEach((originalBtn, index) => {
            const newButtonContainer = pricingPackages[index].getElementsByClassName('button-container')[0];
          const newButton = document.createElement('div');
            newButton.innerHTML = `
  <div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="small">
      <a class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">BUY NOW</a>
  </div>
  `
           newButton.addEventListener('click', function(event) {
              event.preventDefault();
                originalBtn.click();
          });
        
            newButtonContainer.appendChild(newButton);
      });
  }
    
    setTimeout(function() {
        addListenerForBuyButtons();
    }, 250);
    
    /** HACK - Hide the original product-listing in Production mode */
    function hideOriginalProductListing() {
        const body = document.getElementsByTagName('body')[0];
      const isInEditMode = body.classList.contains('in-edit-mode');
          
      // Hacky solution. Not nice. It is hard to identify elements.
      // I search via H1 and its "siblings"
      const container = document.getElementById('vbt-online-course-products');
      const h = container.getElementsByTagName('h1')[0];
      if (!h) {
          console.warn('Can not locate element in fn hideOriginalProductListing');
            return;
      }
      
      const parentElementOfH = h.parentNode.parentNode;
      const sectionToHide = parentElementOfH.nextSibling;
      
      if (isInEditMode) {
        const message = 'This will be automatically hidden in production';
        const h3 = document.createElement('h3');
        h3.innerHTML = '<strong style="color: red;">' + message + '</strong>';
        sectionToHide.prepend(h3);
      } else {
           sectionToHide.style.display = 'none'; 
      }    
    }
    
  setTimeout(function() {
      hideOriginalProductListing();
  }, 250);
  </script>
  
  <div class="pricing-packages" id="pricingPackages">
    <div class="pricing-package box-shadow">
      <header>
        <h3>
          Just to Touch
        </h3>
        <div class="round price flex-center">
          €399
        </div>
      </header>
      
      <div class="pricing-package--content striped">
        <div>
          80 videos
        </div>
        <div>
          Total 50 minutes of content
        </div>
        <div>
          6 weeks to complete if you practice 1 hour every day
        </div>
        <div>
          25 meditation techniques for Singles
        </div>
        <div>
          PDF summaries of all videos
        </div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
      </div>
      <div class="button-container"></div>
      <!-- end of package -->
    </div>
    
    <div class="pricing-package box-shadow">
      <header>
        <h3>
          Heart to heart
        </h3>
        <div class="round price flex-center">
          €599
        </div>
      </header>
      
      <div class="pricing-package--content striped">
        <div>
          104 videos
        </div>
        <div>
          Total 50 minutes of content
        </div>
        <div>
          6 weeks to complete if you practice 1 hour every day
        </div>
        <div>
          25 meditation techniques for Singles
        </div>
        <div>
          PDF summaries of all videos
        </div>
        <div>Access to Facebook and WhatsApp private groups</div>
        <div>8 meditation techniques for Couples</div>
        <div>Four live webinars with Anahata to ask questions and receive guidance</div>
        <div class="empty"></div>
        <div class="empty"></div>      
      </div>
      <div class="button-container"></div>
      <!-- end of package -->
    </div>
    
    <div class="pricing-package box-shadow">
      <header>
        <h3>
          Deep Dive
        </h3>
        <div class="round price flex-center">
          €999
        </div>
      </header>
      
      <div class="pricing-package--content striped">
        <div>
          104 videos
        </div>
        <div>
          Total 50 minutes of content
        </div>
        <div>
          6 weeks to complete if you practice 1 hour every day
        </div>
        <div>
          25 meditation techniques for Singles
        </div>
        <div>
          PDF summaries of all videos
        </div>
        <div>Access to Facebook and WhatsApp private groups</div>
        <div>8 meditation techniques for Couples</div>
        <div>Four live webinars with Anahata to ask questions and receive guidance</div>
        <div>Couple participation as one</div>
        <div>2 one-on-one coaching sessions with Anahata on this subject (for Singles or Couples)</div>      
      </div>
      <div class="button-container"></div>
      <!-- end of package -->
    </div>
  </div>