<script type="text/javascript">
    // Give time to render the block, so we can search it in DOM
    setTimeout(function() {
      insertTestimonialImages({'from':'block-yui_3_17_2_1_1605262081959_8601', 'to':'block-yui_3_17_2_1_1604662572857_27105'});
    }, 250);  
  </script>
  
  <div class="flexible grid two-columns testimonials">
    <div class="testimonial">
      <strong>Best Experience </strong>
      <div class="testimonial-content">
        IMHO, this was the best experience so far of the festival. It was focused on the experience and fairly minimal on the lecturing. The way Swami Anahata spoke was so loving. Looking to learn more of classical Tantra.
      </div>
      
      <div class="person-detail">      
        <div class="image">
          <!-- This will be automatically replaced by person's image from the gallery -->
        </div>
        <div class="text">
           <br/>
          Arnel B. Ilano 
        </div>
    </div>
    </div>
  
    <div class="testimonial">
      <strong>Divine</strong>
      <div class="testimonial-content">
      Ah, this session was divine! Thank you Swami Anahata
  for this offering, I can't wait to follow your work and have just joined the 3-day meditation offering at the end of July. Beautiful! "Bellies are yummy", agreed.
      </div>
      <div class="person-detail">
        <div class="image">
    <!-- This will be automatically replaced by person's image from the gallery -->
    </div>
    <div class="text">
     <br/>
      Sophie Allan 
  </div>
    </div>
    </div>
    
    <div class="testimonial patrick">
      <strong>It lighted me up so much</strong>
      <div class="testimonial-content">
    This workshop was indeed one of my favourites as well, since it shows the fundamentals so well of tantra. The meditations were great and your style of teaching and connecting from the heart, was a beautiful transmission. It lighted me up so much! Thank you!
      </div>
      <div class="person-detail">
        <div class="image">
    <!-- This will be automatically replaced by person's image from the gallery -->
    </div>
    <div class="text">
       <br/>
  Patrick Hoen Der Voogt
  </div>
    </div>
    </div>
    
    <div class="testimonial era">
      <strong>Wisdom gift</strong>
      <div class="testimonial-content">
     I am in with you on this journey.
        <br/>
        Many thanks to you from the bottom of my heart for such effort and wisdom gift.
        <br/>
        Love, gratitude!
      </div>
      <div class="person-detail">
        <div class="image">
    <!-- This will be automatically replaced by person's image from the gallery -->
    </div>
    <div class="text">
  <br/>
      Era Novaya
  </div>
    </div>
    </div>
    
    